<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.3"?>
<plugin
   version="3.3">

   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="fede.workspace.dependencies.eclipse.java.ItemDependenciesClasspathResolver"
            id="fede.workspace.eclipse.java.item.dependencies">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="Item Dependencies"
            class="fede.workspace.dependencies.eclipse.java.view.ItemDependenciesClasspathPage"
            id="fede.workspace.eclipse.java.item.dependencies">
      </classpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="fede.workspace.eclipse.composition.java.ItemComponentsClasspathResolverAspects"
            id="fede.workspace.eclipse.java.item.components.aspects">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="Item Components[aspects]"
            class="fede.workspace.eclipse.composition.view.ItemComponentsClasspathPageAspects"
            id="fede.workspace.eclipse.java.item.components.aspects">
      </classpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="fede.workspace.eclipse.composition.java.ItemComponentsClasspathResolverClasses"
            id="fede.workspace.eclipse.java.item.components.classes">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            name="Item Components[classes]"
            class="fede.workspace.eclipse.composition.view.ItemComponentsClasspathPageClasses"
            id="fede.workspace.eclipse.java.item.components.classes">
      </classpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.quickFixProcessors">
      <quickFixProcessor
            name="DependencyQuickFixProcessor"
            requiredSourceLevel="1.4"
            class="fede.workspace.dependencies.eclipse.java.fix.DependencyQuickFixProcessor"
            id="Model.Workspace.EnvSam.DependencyQuickFixProcessor">
      </quickFixProcessor>
   </extension>

</plugin>
